# Environment variables that contain secrets

# github token with read access to public repositories, used for fetching repository information and commit history
# generate at https://github.com/settings/tokens
export SECRET_GITHUB_TOKEN=ghp_xxx

# google analytics property ID, used for fetching google analytics data (9 digits)
# using Google Analytics 4 (GA4)
# doc at https://developers.google.com/analytics/devguides/reporting/data/v1/property-id?hl=fr
# get it from https://analytics.google.com/analytics
export SECRET_GOOGLE_ANALYTICS_PROPERTY_ID=123456789
