---
// Copyright (c) Pascal Brand
// MIT License

import { setDefaultProps } from './index'
import type { AstroLeafLetType } from './index'

type Props = AstroLeafLetType

const enrichedProps = Astro.props
setDefaultProps(enrichedProps)
const {
  options,
  id= 'astro-leaflet-' + Math.random().toString(36).slice(2, 11),
  ...props
} = enrichedProps

---

<leaflet-map
  data-id={id}
  data-options={JSON.stringify(options)}
>
<div id={id}  {...props}></div>
</leaflet-map>

<script>
  import L from "leaflet"
  import "leaflet/dist/leaflet.css"
  import { useMap } from './index'
  import type { AstroLeafLetOptionsType, AstroLeafLetMarkerType } from './index'

  class LeafletMap extends HTMLElement {
    constructor() {
      super()
      const options: AstroLeafLetOptionsType = JSON.parse(this.dataset.options!)

      let map = L.map(this.dataset.id!)
      useMap[this.dataset.id!] = map
      map.setView(options.center!, options.zoom)
      L.tileLayer(options.tileLayer!, {attribution: options.attribution}).addTo(map)

      if (options && options.markers) {
        options.markers.forEach((marker:AstroLeafLetMarkerType) => L.marker(marker.latlng, marker.options).addTo(map))
      }
    }
  }

  window.customElements.define("leaflet-map", LeafletMap);
</script>